{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
</style>
<div class='mobile p-5'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <!-- <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>     -->
    </div>
</div>
</div>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(255, 255, 255);"><b>🍁Plant Disease
                Detection🍁 </b></h1>
        <p class="lead" style="font-weight: 500;color: white;">This website will help you detect diseases from the following fruits and veggies</p>
    </div>
</div>

<center class="laptop">
    <a href="/index2">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;">Start Predicting</b></button>
</a>
</center>
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="static\\uploads\\These Filling High-Protein Smoothies That Will Instantly Curb Your Appetite.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Blueberry Custard Pie.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\What Fruits Can Dogs Eat_.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Salater fra The Food Club - Salat med majs - The Food Club.jpg" width="275" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
        </div>
    </div>
</div>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="static\\uploads\\Premium Photo _ Fresh grapes on a white background.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Premium Photo _ Ripe orange with leaves on white background.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Peach isolated on white background.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Green Bell Pepper - each, fruit and vegetables.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Bell Pepper</p></center>
        </div>
    </div>
</div>


<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="static\\uploads\\stock-photo-potato-leaf-684459094.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Raspberry isolated on white background with clipping path.jpg" width="275" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Soybeans with green leaves isolated on white background_.jpg" width="275" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soybean</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="static\\uploads\\Butternut squash stock photo_ Image of health, nutty - 42853084.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
        </div>
    </div>
</div>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">
          <img src="static\\uploads\\Fresh strawberry stock image_ Image of berry, green, closeup - 40742985.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Strawberry</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

          <img src="static\\uploads\\Tomato on white background stock photo_ Image of piece - 47005658.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Tomato</p></center>
        </div>
    </div>
</div>
</center>

{% endblock body %}
